* {
  box-sizing: border-box;
}


/* CLASSES --------------------------------------------------------------- */




.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.justify { 
  text-align: justify;
}

.block {
  display: block;
}

.inblock {
  display: inline-block;
}

.gutter-right {
  margin-right: 20px;
}

.resets {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chart-container {
  min-width: 600px;
  height: 400px;
  
}

.chart-page-content {
  display: flex;
  flex-direction: row;
  background-color: rgb(251, 255, 248);
}

.chart-text {
  font-family: 'Bebas Neue';
  font-size: 1.4rem;
  padding: 20px;
  line-height: 1.9rem; 
  min-width: 350px;
  color: rgb(61, 80, 73);
  /* max-width: 250px; */
} 

.headerFun {
  font-family: 'Bebas Neue';
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px rgb(73, 72, 70)
}
/* animations--------------------------------------------------------------------*/
