
body {
  height: 1000px;
  width: 1000px;
}

header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  
}

footer {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  background: #1abc9c;
  color: white;
  font-size: 18px;
}

.git {
  width: 20px;
}

.li {
  width: 20px;
}

.cap {
  width: 100px;
}

.blah {
  height: 1000px;
  width: 1000px;
}