* {
  box-sizing: border-box;
}


/* CLASSES --------------------------------------------------------------- */




.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.justify { 
  text-align: justify;
}

.block {
  display: block;
}

.inblock {
  display: inline-block;
}

.gutter-right {
  margin-right: 20px;
}

.resets {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chart-container {
  width: 600px;
  height: 400px;
}

/* animations-------------------------------------------------------------------- */
