@media (max-width: 900px) {
  .headerCrumb {
    height: 300px !important;
    margin-top: 75px !important;
  }
}

  @media (max-width: 600px) {
    .headerCrumb {
        height: 200px !important;
        margin-top: 65px !important;
      }
  }

  /* @media (max-width: 400px) {
    
  } */

.headerCrumb {
    padding: 60px;
    text-align: center;
    background-image: url('./images/pexels-brian-hackworth-3523519.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: black 1px solid;
    height: 430px;
    margin-top: 75px;
}