.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(192, 192, 84, 0.185);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
}

.oregon-map {
    width: 500px;
    height: 425px;
}

.circle-marker:hover {
    fill: red;
    cursor: pointer;
}

.displayed-temp {
    font-size: 0.03em;
}

