.big-container {
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(192, 192, 84, 0.185);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
/* .oregon-map {
=======
.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
}

.map-container:after {
    content: "";
    display: block;
    height: 200px;
}

.oregon-map {
>>>>>>> ce4758efea21a655fca4afacab0cdd7856517a13
    width: 500px;
    height: 425px;
} */

.circle-marker:hover {
    fill: red;
    cursor: pointer;
}

.displayed-temp {
    font-size: 0.03em;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(5, 20%);

    width: 100%;
}

.month-silder {
    grid-area: 1 / 2 / 2 / 5;
}

.year-slider {
    grid-area: 5 / 2 / 6 / 8;
}

.map-container {
    grid-area: 3 / 1 / 5 / 5;
}
